@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-bold;

  &.active {
    @apply text-blue-400;
  }
}

button[disabled] {
  @apply
    bg-gray-400
    cursor-not-allowed
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    width: 50%;
    text-align: center;

    &--selected {
      @apply
        border-gray-200
        text-blue-400
        font-bold;

      background: #fff;
      border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    @apply
      hidden
      border
      p-10;

    &--selected {
      display: block;
    }
  }
}

.result {
  $this: &;
  position: relative;

  &__your-vote {
    @apply hidden;
  }

  &--selected {
    @apply
      border-2
      border-blue-400;

    #{$this}__your-vote {
      @apply
        flex
        items-center
        absolute
        -top-4
        -right-4
        rounded-full
        bg-yellow-300
        text-gray-800
        font-semibold
        text-xs
        h-10
        w-10
        text-center
        leading-none
        z-30;
    }
  }
}
